.nav-menu-outer-container {
  position: absolute;
  top: 1.25rem;
  right: 1.25rem;
}

.nav-menu-links {
  background-color: #ffffff;
  width: 18rem;
  border-radius: 10px;
  list-style: none;
  padding: 0;
}

.menu-links {
  display: flex;
  justify-content: center;
  flex-direction: column;
  list-style: none;
}

.menu-link {
  font-family: "Commissioner", sans-serif;
  font-weight: 400;
  font-size: 1.2em;
  padding: 15px;
  color: hsl(0, 0%, 0%);
}

.menu-underline {
  border-color: hsl(0, 0%, 100%);
}
